form {
  width: 30%;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #555;
}
input {
  width: 100%;
  border: 1px solid hsl(0, 55%, 35%);
  display: block;
  padding: 5px 10px;
}
button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: 100px auto;
}
th,td {
  height: 50px;
  padding: 15px;
  vertical-align: center;
  border: 1px solid black;
}
tr:hover {background-color: #f5f5f5;}
