table {
    border-collapse: collapse;
    width: 70%;
    color: #1e1919;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    margin:10px auto;
}

th {
    background-color: #6495ED !important;
    color: white !important;
    padding-left: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
